$malachite: #16DB65;
$sea-green: #058C42;
$dark-purple: #160F29;
$anti-flash-white: #EFEFEF;
$seasalt: #F7F7F7;

:export {
    malachite: $malachite;
    sea-green: $sea-green;
    dark-purple: $dark-purple;
    anti-flash-white: $anti-flash-white;
    seasalt: $seasalt;
}