$malachite: #16DB65;
$sea-green: #058C42;
$dark-purple: #160F29;
$anti-flash-white: #EFEFEF;
$seasalt: #F7F7F7;
$blue-water: #E2F3FF;
$pee-in-snow: #F7FFD6;
$faded-green: #D9FEE1;
$grey: #6E7C87;

:export {
    malachite: $malachite;
    sea-green: $sea-green;
    dark-purple: $dark-purple;
    anti-flash-white: $anti-flash-white;
    seasalt: $seasalt;
    blue-water: $blue-water;
    pee-in-snow: $pee-in-snow;
    faded-green: $faded-green;
    grey: $grey;
}